---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="/src/styles/global.css"
      <meta
      name="viewport"
      content="width=device-width"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Lukas' Portfolio</title>
  </head>
  <body>
    <main class="lg:flex lg:justify-center">
      <section class="min-h-screen lg:w-[2500px] flex flex-col justify-between p-6 md:p-10">
        <div class="flex justify-end">
          <p
            class="uppercase text-sm sm:text-sm md:text-2xl font-medium tracking-wider"
          >
            Lukas Michel
          </p>
        </div>
        <div class="w-full max-w-screen-2xl">
          <div>
            <h1 class="text-9xl font-bold">Solution</h1>
            <h1 class="text-9xl font-bold ml-20 text-amber-400">Architect</h1>
          </div>
        </div>
        <div class="flex justify-between items-center uppercase">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="88"
              height="88"
              viewBox="0 0 88 88"
              fill="none"
            >
              <circle cx="44" cy="44" r="30" stroke="white" stroke-width="5"
              ></circle>
              <circle cx="44" cy="44" r="8" fill="white"></circle>
            </svg>
          </div>
          <div class="text-right h-[88px] flex flex-col justify-center">
            <p
              class="text-sm sm:text-sm md:text-2xl lg:text-4xl font-medium tracking-wider"
            >
              Open for Work
            </p>
            <p class="text-sm sm:text-sm md:text-2xl lg:text-2xl">
              Based in Berlin
            </p>
          </div>
        </div>
      </section>
    </main>
    <main class="lg:flex lg:justify-center">
      <section class="min-h-screen lg:w-[2500px] flex p-6 md:p-10 mt-10 flex-col">
        <div class="flex w-full justify-between items-center self-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
          >
            <circle cx="44" cy="44" r="30" stroke="white" stroke-width="5"
            ></circle>
            <circle cx="44" cy="44" r="8" fill="white"></circle>
          </svg>
          <p class="uppercase text-xl sm:text-2xl md:text-9xl font-medium">
            Experience
          </p>
        </div>
  
        <div class="flex-1 items-center w-full flex">
          <div class="flex items-center p-6">
            <div class="flex flex-col items-center">
              <span class="sm:text-xl md:text-5xl lg:text-3xl font-bold"
                >2022</span
              >
              <div class="w-1 rounded lg:h-60 sm:h-30 md:h-90 bg-white my-4">
              </div>
              <span class="uppercase lg:text-3xl sm:text-xl md:text-5xl font-bold"
                >now</span
              >
            </div>
            <div class="ml-6 uppercase">
              <h3
                class="text-4xl md:text-5xl font-semibold mb-3 lg:border-b-2 pb-2 lg:pr-10 lg:border-amber-400"
              >
                MHP - A Porsche Company
              </h3>
              <div class="flex flex-col text-xl md:text-3xl font-medium">
                <p>Student</p>
                <p>Junior Consultant</p>
                <p>Consultant</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-end">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
          >
            <circle cx="44" cy="44" r="30" stroke="white" stroke-width="5"
            ></circle>
            <circle cx="44" cy="44" r="8" fill="white"></circle>
          </svg>
        </div>
      </section>
    </main>
  </body>
</html>
